/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}



t{
  font-size: 2.4em;
  text-align:center;
}

.navbar {
    padding: 15px 10px;
    background-color: #999999;
    border: none;
    border-radius: 5px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.dashedLine {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.solidLine{
	width: 100%;
    height: 1px;
    border-bottom: 1px solid #ddd;
    margin: 40px 0;
}

.date{
  font-size:15px;
  color: #b0b0b0;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}



#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100%;
    background: #c43535;
    color: #fff;
    transition: all 0.23s cubic-bezier(0.02, 0.02, 0.270, 0.665);
    transform-origin: bottom left;
    position: relative;
}


#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
    
}






#sidebar .sidebar-header {
    padding: 20px;
    background: #c43535;
}

/*
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #a62b2b;
}
*/

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.8em;
    display: block;
}
#sidebar ul li a:hover {
    color:#c43535;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #c43535;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 1em !important;
    padding-left: 30px !important;
    background: #a62b2b;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  position: relative;
  transition: all 0s;
}


.head-container{
  padding: 15px;
  margin:2px;
}


.navbar-btn {
    width: 40px;
    height: 40px;
    background: #bbbbbb;
    cursor: pointer;
    border-radius: 4px;
    float: left;
    
}

#SmScrSidebarClose{
  display: none;
}

#SmScrSidebarClose span:first-of-type{
  transform: rotate(45deg) translate(2px, 2px);
}
#SmScrSidebarClose span:nth-of-type(2) {
  opacity: 0;
}
#SmScrSidebarClose span:last-of-type{ 
  transform: rotate(-45deg) translate(1px, -1px);
}

.navbar-btn span {
    width: 100%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.4s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0s;
}

.navbar-btn:hover span{
  background: #fff;
}

.navbar-btn:hover{
  background:#555
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    CARD STYLE
----------------------------------------------------- */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  border-radius: 5px;
  margin: 25px;
  display: inline-block;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.cardContainer {
  padding: 2px 14px;
  color: black;
}



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
      margin-left: 0;
      transform: none;
      position: relative;
      top: 0;
      bottom: 0;
      
    }

    
    
    
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
    body{
      overflow-x: hidden;
      position:relative;
    }
}


@media (max-width: 450px) {
  #sidebar.active{
    min-width:100%;
    
  }
  #SmScrSidebarClose{
    display: inline;
  }

  #sidebarCollapse.active{
    visibility: hidden;
    transition-delay: 1s;
  }
  /*
  #content{
    position: fixed;
    margin: 0px;
  }
  #sidebar.active + #content {
    display:none;
  }
  */
}


.dark-mode {
  background-color: black;
  color: white;
}

hr {
  background: white;
  
  
}

.dark-mode .navbar-btn, hr {
  filter: invert(100%)
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .15s;
}

input:checked + .slider {
  background-color: rgb(0, 255, 00);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}
closeCookieConsent {

    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
closeCookieConsent:hover {
    color: #FFF;
}
cookieConsent a.cookieConsentOK {
    background-color: #F1D600;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;

    margin: 0 60px 0 10px;
}
cookieConsent a.cookieConsentOK:hover {
    background-color: #E0C91F;
}
/*Cookie Consent End*/


